@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gutter: 1.5rem;
    --wrapper-width: clamp(16rem, 100vw, 75rem);

    --bg-main: 222 26% 31%;
    --bg-toggle: 223 31% 20%;
    --bg-keypad: 223 31% 20%;
    --bg-screen: 224 36% 15%;

    --bg-support-1: 225 21% 49%;
    --bg-support-1-hover: 225 51% 76%;
    --bg-support-2: 6 63% 50%;
    --bg-support-2-hover: 6 93% 67%;
    --bg-support-3: 30 25% 89%;
    --bg-support-3-hover: 30 100% 100%;

    --color-main: 0 0% 100%;
    --color-support-1: 0 0% 100%;
    --color-support-2: 0 0% 100%;
    --color-support-3: 221 14% 31%;

    --shadow-support-1: 224 28% 35%;
    --shadow-support-2: 6 70% 34%;
    --shadow-support-3: 28 16% 65%;
  }

  [data-theme="light"] {
    --bg-main: 0 0% 90%;
    --bg-toggle: 0 5% 81%;
    --bg-keypad: 0 5% 81%;
    --bg-screen: 0 0% 93%;

    --bg-support-1: 185 42% 37%;
    --bg-support-1-hover: 184 40% 56%;
    --bg-support-2: 25 98% 40%;
    --bg-support-2-hover: 25 100% 61%;
    --bg-support-3: 45 7% 89%;
    --bg-support-3-hover: 0 0% 100%;

    --color-main: 60 10% 19%;
    --color-support-1: 0 0% 100%;
    --color-support-2: 0 0% 100%;
    --color-support-3: 60 10% 19%;

    --shadow-support-1: 185 58% 25%;
    --shadow-support-2: 25 99% 27%;
    --shadow-support-3: 35 11% 61%;
  }

  [data-theme="violet"] {
    --bg-main: 268 75% 9%;
    --bg-toggle: 268 71% 12%;
    --bg-keypad: 268 71% 12%;
    --bg-screen: 268 71% 12%;

    --bg-support-1: 281 89% 26%;
    --bg-support-1-hover: 280 56% 44%;
    --bg-support-2: 176 100% 44%;
    --bg-support-2-hover: 176 100% 79%;
    --bg-support-3: 268 47% 21%;
    --bg-support-3-hover: 268 54% 44%;

    --color-main: 52 100% 62%;
    --color-support-1: 0 0% 100%;
    --color-support-2: 198 20% 13%;
    --color-support-3: 52 100% 62%;

    --shadow-support-1: 285 91% 52%;
    --shadow-support-2: 177 92% 70%;
    --shadow-support-3: 290 70% 36%;
  }

  body {
    line-height: 1.6;
    font-size: var(--size-base);
    font-family: var(--font-base);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    width: 100%;
  }
}